<header>
    <div class="logo">
        <a class="button" href="/">Zero to Code</a>
    </div>
    <nav>
        <a class="button milestonesButton" href="/milestones">
            Milestones
        </a>
        <a class="button tiny-hidden" href="https://twitter.com/thesephist" target="_blank">
            <span class="mobile-hidden">Made by</span> @thesephist
        </a>
        <a class="button" href="https://github.com/thesephist/zerotocode" target="_blank">
            <span class="mobile-hidden">View Source on</span> GitHub
        </a>
    </nav>
</header>

